{%extends "board_main_base.html"%} {% load static %}

<!-- 게시판 주소창 제목 -->
{% block title %} 혼밥 게시판 {% endblock %}

<!-- 게시판 css -->
{% block css %}
<link rel="stylesheet" href="/static/css/screen/main/honbab.css">
{% endblock %}

<!-- 혼밥 게시판 기능들 : 글쓰기, 글목록 보기 -->
{% block body %}
<div class="main_title">
  <h1>혼밥</h1>
  <!-- 각 게시판 별 이름 -->

  <div class="span_wrap">
    <!-- 필터링(@@@미구현@@@) -->
    <div class="span_wrap_col1">
      <span>최신순</span>
      <span>좋아요순</span>
      <span>댓글순</span>
    </div>

    <!-- 글쓰기 화면으로 넘어가는 url -->
    {% if user.is_authenticated %}
    <a href="{% url 'honbabwrite' %}">
      <div class="span_wrap_col2">
        <span>작성하기</span>
        <i class="fa-solid fa-chevron-right"></i>
      </div>
    </a>

    {% else %}
    <a href="{% url 'login' %}">
      <div class="span_wrap_col2">
        <span>작성하기</span>
        <i class="fa-solid fa-chevron-right"></i>
      </div>
    </a>
    {% endif %}
  </div>
</div>

<!-- boxes (게시글 목록 보여주는 부분)-->
{% if posts %} {% for post in posts %}
<div id="box">
  <div class="honbab_box">
    <a href="{% url 'honbabdetail' post.id %}">
      <div class="box_title">
        <div class="box_img"></div>

        <div class="box_text_wrap">
          <!-- 글 목록에서 작성자의 닉네임과 제목 보여줌 -->
          <div class="box_name">{{post.author.nickname}}</div>
          <div class="box_content_name">{{ post.title }}</div>
        </div>
      </div>
    </a>

    <div class="box_preview">
      <p>{{ post.body }}</p>
    </div>

    <div class="box_info">
      <div class="box_info_map_wrap">
        <i class="fa-solid fa-location-dot"></i>
        <span>위치 : {{ post.location }}</span>
      </div>

      <div class="box_info_icon_wrap">
        <!-- 하트, 댓글수(@@@미구현@@@) -->
        <i class="fa-solid fa-heart fa-lg"></i>
        <span>123</span>
        <i class="fa-solid fa-comment fa-lg"></i>
        <span>456</span>
      </div>
    </div>
  </div>

  <!-- popular box(@@@미구현@@@) -->

  <div class="popular_box">
    <h2>인기 얼롱인</h2>

    <div class="popular_info_wrap">
      <div class="popular_img"></div>
      <div class="popular_name">이얼롱</div>
    </div>

    <div class="popular_follow_wrap">
      <div class="popular_follow_col">
        <div>게시글수</div>
        <div>180</div>
      </div>

      <div class="popular_follow_col">
        <div>팔로워</div>
        <div>100</div>
      </div>

      <div class="popular_follow_col">
        <div>팔로잉</div>
        <div>50</div>
      </div>
    </div>
  </div>
</div>

{% endfor %} {% endif %} {% endblock %}
