<!--이 파일에선 base.html에 없는 줄이 14줄임!!!!!!!!!!!!!!!!!!!!!!-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- favicon -->
    <link rel="icon" type="image/png" sizes="16x16" href="./img/favicon.png">

    <link rel="stylesheet" href="/static/css/screen/map/map_popup.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Document</title>
</head>

<body id="append">
    <!-- 팝업 -->
    <div class="detail_location">

            <div id="popup" class="hidden">
                <div class="popup_map">
                    <!--  현재 위치  -->
                    <div class="location">
                        <span class="loaction title" style="color: white; font-size:20px;">상세지도</span>
                    </div>
                    <hr class="line">

                    <!-- 선 아래 -->
                    <div class="contentbox">
                        <!-- 지도, 식당 정보 -->
                        <div class="contentbox left">
                            <!-- B: 지도 -->
                            <div class="map", id="map">
                            </div>
                            <!--카카오api불러오는 코드(실제코드보다 앞서야함/라이브러리 적용가능)-->
                            <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=b39f18a067cf513f0da4b9bce298ced0"></script>
                            <script>
                                //###############작업해야함!맵 맨처음 위치
                                var latitude = 35.5317;
                                var longitude = 128.3641;
                                var container = document.getElementById("map");
                                var options = {
                                    
                                    //center:지도의 중앙위치
                                    center : new kakao.maps.LatLng(latitude, longitude),
                                    //level:처음 지도의 확대레벨
                                    level : 3
                                };
                                var map = new kakao.maps.Map(container, options);
                                
                                var marker = new kakao.maps.Marker({
                                    map: map,
                                    /*############image 속성도 바꿔야함*/
                                    position: new kakao.maps.LatLng(latitude, longitude)
                                });
                                //마커를 지도위에 표시
                                marker.setMap(map);
                                var zoomControl = new kakao.maps.ZoomControl();
                                map.addControl(zoomControl, kakao.maps.ControlPosition.RIGHT);
                            </script>
                            <!-- 식당 정보 -->
                            <div class="honbab_box">
                                <div class="box_title">
                                    <div class="box_text_wrap">
                                        <!-- B : 식당 이름 -->
                                        <div class="box_name" >낭만놀이</div>
                                        <!-- B : 식당 주소 -->
                                        <div class="box_content_name">대구광역시 북구 대학로 24번길</div>
                                        <!-- B : 영업 시간 -->
                                        <div class="box_content_name">영업 시간 9:00 - 20:00</div>
                                    </div>
                                </div>

                                <hr class="mini_line">

                                <div class="box_info" style="margin-top:0">

                                    <div class="box_info_map_wrap">
                                        <!-- B : 리뷰 개수 -->
                                        <span>혼놀러 리뷰 18</span>
                                    </div>

                                    <div class="box_info_icon_wrap">
                                        <!-- B : 게시글 링크 걸기 -->
                                        <a href="#">> 구경가기</a>
                                    </div>
                                </div>



                            </div>

                        </div>
                        <div class="contentbox right">
                            <div class="honnol_review_title" style="font-size: 18px;margin-bottom: 0;">혼놀러 리뷰 미리보기</div>
                            <div class="timeline">
                                <ul>
                                    <li>
                                        <br>
                                        <!-- B : 게시물 작성 날짜 -->
                                        <span>2022.04.26</span>
                                        <div class="content">
                                            <div class="honbab_box2" style="background-color: var(--mint);">
                                                <!-- B : 게시물 디테일 포스트 링크 -->
                                                <a href="#">
                                                    <div class="box_title2">
                                                        <div class="box_img2"></div>

                                                        <div class="box_text_wrap2">
                                                            <!-- B : 게시물 작성자 -->
                                                            <div class="box_name2">김얼롱</div>
                                                            <!-- B : 게시물 내용 -->
                                                            <div class="box_content_name2">게시글 제목입니다 가나다라마바사
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>

                                                <div class="box_info2">

                                                    <div class="box_info_icon_wrap2">
                                                        <i class="fa-solid fa-heart fa-lg"></i>
                                                        <!-- B : 좋아요 개수 -->
                                                        <span style="color: black;">123</span>
                                                        <i class="fa-solid fa-comment fa-lg"></i>
                                                        <!-- B : 댓글 개수 -->
                                                        <span style="color: black;">456</span>
                                                    </div>
                                                </div>



                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <br>
                                        <!-- B : 게시물 작성 날짜 -->
                                        <span>2022.04.26</span>
                                        <div class="content">
                                            <div class="honbab_box2">
                                                <!-- B : 게시물 디테일 포스트 링크 -->
                                                <a href="#">
                                                    <div class="box_title2">
                                                        <div class="box_img2"></div>
                                    
                                                        <div class="box_text_wrap2">
                                                            <!-- B : 게시물 작성자 -->
                                                            <div class="box_name2">김얼롱</div>
                                                            <!-- B : 게시물 내용 -->
                                                            <div class="box_content_name2">게시글 제목입니다 가나다라마바사
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                    
                                                <div class="box_info2">
                                    
                                                    <div class="box_info_icon_wrap2">
                                                        <i class="fa-solid fa-heart fa-lg"></i>
                                                        <!-- B : 좋아요 개수 -->
                                                        <span style="color: black;">123</span>
                                                        <i class="fa-solid fa-comment fa-lg"></i>
                                                        <!-- B : 댓글 개수 -->
                                                        <span style="color: black;">456</span>
                                                    </div>
                                                </div>
                                    
                                    
                                    
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <br>
                                        <!-- B : 게시물 작성 날짜 -->
                                        <span>2022.04.26</span>
                                        <div class="content">
                                            <div class="honbab_box2">
                                                <!-- B : 게시물 디테일 포스트 링크 -->
                                                <a href="#">
                                                    <div class="box_title2">
                                                        <div class="box_img2"></div>
                                    
                                                        <div class="box_text_wrap2">
                                                            <!-- B : 게시물 작성자 -->
                                                            <div class="box_name2">김얼롱</div>
                                                            <!-- B : 게시물 내용 -->
                                                            <div class="box_content_name2">게시글 제목입니다 가나다라마바사
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                    
                                                <div class="box_info2">
                                    
                                                    <div class="box_info_icon_wrap2">
                                                        <i class="fa-solid fa-heart fa-lg"></i>
                                                        <!-- B : 좋아요 개수 -->
                                                        <span style="color: black;">123</span>
                                                        <i class="fa-solid fa-comment fa-lg"></i>
                                                        <!-- B : 댓글 개수 -->
                                                        <span style="color: black;">456</span>
                                                    </div>
                                                </div>
                                    
                                    
                                    
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>



                </div>
            </div>


        </span>

    </div>

</div>  



    <!-- honbabdetail.js -->
    <script src="js/honbabdetail.js"></script>
    <!-- icon link -->
    <script src="https://kit.fontawesome.com/73b35ca8d6.js" crossorigin="anonymous"></script>
    <!-- map popup -->
    <!-- <script src="/js/popup.js"></script> -->
</body>

</html>
