<!--뷰에서 오는 변수 : location, otherPosts , numPosts
location 을 활용해 해당 주소의 마커를 띄워야함
otherPosts는 해당 장소를 태그한 게시글중 해당 게시글을 제외한 쿼리셋
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- favicon -->
    <link rel="icon" type="image/png" sizes="16x16" href="./img/favicon.png">

    <link rel="stylesheet" href="/static/css/screen/map/map_popup.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <!--카카오지도api 불러오기-->
    <script type="text/javascript"
        src="//dapi.kakao.com/v2/maps/sdk.js?appkey=b39f18a067cf513f0da4b9bce298ced0&libraries=services,drawing">
    </script>
    <title>혼맵 팝업</title>
</head>

<body id="append">
    <!-- 팝업 -->
    <div class="detail_location">

        <div id="popup" class="hidden">
            <div class="popup_map">
                <!--  현재 위치  -->
                <div class="location">
                    <span class="loaction title" style="color: white; font-size:20px;">상세지도</span>
                </div>
                <hr class="line">

                <!-- 선 아래 -->
                <div class="contentbox">
                    <!-- 지도, 식당 정보 -->
                    <div class="contentbox left">
                        <!-- B: 지도 -->
                        <div class="map" , id="map">
                        </div>
                        <script>
                            //마커위의 윈도우 변수
                            var infowindow = new kakao.maps.InfoWindow({
                                zIndex: 1
                            });
                            //마커띄우는 함수
                            function displayMarker(map, place) {
                                // 마커를 생성하고 지도에 표시합니다
                                var marker = new kakao.maps.Marker({
                                    map: map,
                                    position: new kakao.maps.LatLng(place.y, place.x)
                                });
                                // 마커에 클릭이벤트를 등록합니다
                                kakao.maps.event.addListener(marker, 'click', function () {
                                    // 마커를 클릭하면 장소명이 인포윈도우에 표출됩니다
                                    infowindow.setContent('<div style="padding:5px;font-size:12px;">' + place
                                        .place_name + '</div>');
                                    infowindow.open(map, marker);
                                });
                            }
                            //좌표변환위한 변수
                            var geocoder = new kakao.maps.services.Geocoder();

                            //location(한글주소) -> obj_location(해당 주소의 정보객체(장소))
                            var obj_location = null;
                            //정보잘 불러왔을 때 실행되는 함수
                            var whenAddressIsSearched = function (result, status) {
                                if (status === kakao.maps.services.Status.OK) {
                                    obj_location = result[0];
                                    console.log(obj_location); //디버깅용
                                }
                            };
                            geocoder.addressSearch("{{location}}", whenAddressIsSearched);

                            setTimeout(function () {
                                var latitude = obj_location.y;
                                var longitude = obj_location.x;
                                //2. 지도 띄울 div 선택
                                var container = document.getElementById("map");
                                //3. 지도 옵션 설정
                                var options = {
                                    //center:지도의 중앙위치
                                    center: new kakao.maps.LatLng(latitude, longitude),
                                    //level:처음 지도의 확대레벨
                                    level: 3
                                };
                                //지도 생성 및 표시
                                var map = new kakao.maps.Map(container, options);
                                var zoomControl = new kakao.maps.ZoomControl();
                                map.addControl(zoomControl, kakao.maps.ControlPosition.RIGHT);

                                //지도 위에 지도 마커 띄우기
                                displayMarker(map, obj_location);
                                //장소의 제목 출력
                                if (obj_location.road_address.building_name == "") {
                                    obj_location.road_address.building_name = "이름이 없는 장소입니다."
                                }
                                document.getElementById("box_name").textContent = obj_location.road_address
                                    .building_name;
                                //장소의 주소 출력
                                document.getElementById("box_content_name").textContent = "{{location}}";
                            }, 100);
                        </script>
                        <!-- 식당 정보 -->
                        <div class="honbab_box">
                            <div class="box_title">
                                <div class="box_text_wrap">
                                    <!-- B : 식당 이름 -->
                                    <div class="box_name" id="box_name">loading..</div>
                                    <!-- B : 식당 주소 -->
                                    <div class="box_content_name" id="box_content_name">loading..</div>
                                    <!-- B : 영업 시간 -->
                                    <div class="box_content_name">영업 시간 9:00 - 20:00</div>
                                </div>
                            </div>

                            <hr class="mini_line">

                            <div class="box_info" style="margin-top:0">

                                <div class="box_info_map_wrap">
                                    <!-- B : 리뷰 개수 -->
                                    <span>혼놀러 리뷰 {{numPosts}}</span>
                                </div>

                                <div class="box_info_icon_wrap">
                                    <!-- B : 게시글 링크 걸기 -->
                                    <a href="">> 구경가기</a>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="contentbox right">
                        <div class="honnol_review_title" style="font-size: 18px;margin-bottom: 0;">혼놀러 리뷰 미리보기</div>
                        <div class="timeline">
                            <ul>
                                {% for post in otherPosts %}
                                <li>
                                    <br>
                                    <!-- B : 게시물 작성 날짜 -->
                                    <span>{{post.date.year}}.{{post.date.month}}.{{post.date.day}}</span>
                                    <div class="content">
                                        <div class="honbab_box2" style="background-color: var(--mint);">
                                            <!-- B : 게시물 디테일 포스트 링크 -->
                                            <a href="{% url 'honbabdetail' post.id %}">
                                                <div class="box_title2">
                                                    <div class="box_img2">{{post.author.photo}}</div>
                                                    <div class="box_text_wrap2">
                                                        <!-- B : 게시물 작성자 -->
                                                        <div class="box_name2">{{post.author}}</div>
                                                        <!-- B : 게시물 내용 -->
                                                        <div class="box_content_name2">
                                                            {{post.body | slice:":15"}}...
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>

                                            <div class="box_info2">

                                                <div class="box_info_icon_wrap2">
                                                    <i class="fa-solid fa-heart fa-lg"></i>
                                                    <!-- B : 좋아요 개수 -->
                                                    <span style="color: black;">!구현 예정!</span>
                                                    <i class="fa-solid fa-comment fa-lg"></i>
                                                    <!-- B : 댓글 개수 -->
                                                    <span style="color: black;">!구현 예정!</span>
                                                </div>
                                            </div>



                                        </div>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>

                    </div>
                </div>



            </div>
        </div>


        </span>

    </div>

    </div>




    <!-- icon link -->
    <script src="https://kit.fontawesome.com/73b35ca8d6.js" crossorigin="anonymous"></script>
    <!-- map popup -->
    <!-- <script src="/js/popup.js"></script> -->
</body>

</html>