{%extends "board_main_base.html"%}

<!-- 마이프로필 주소창 제목 -->
{% block title %} my profile {% endblock %}

<!-- 마이프로필 css -->
{% block css %}
<link href="https://fonts.googleapis.com/css?family=Noto+Sans+HK&display=swap" rel="stylesheet" />
<!-- favicon -->
<link rel="icon" type="image/png" sizes="16x16" href="./img/favicon.png">

<link rel="stylesheet" type="text/css" href="/static/css/screen/myprofile/myprofile.css">
<!-- <script src="/static/js/myprofile.js"></script> -->
{% endblock %}
   
<!-- 마이프로필 기능들 : 자기프로필(프사, 이름, 자기소개), 카테고리별 사진 보기 -->
{% block body %}

<div class="content">
    <!-- 내 프로필 -->
    <div class="profile">

        <!-- 프로필 사진 -->
        <div class="profile_left" style="margin-top: 25px;">
            <!-- B : 사용자 사진 -->
            <div class="profile_bg green">
                <span class="profile_img">
                    {% if user.profilePhoto %}
                    <img class="size" src="{{user.profilePhoto.url}}" alt="">
                    {% endif %}
                </span>
            </div>
        </div>

        <!-- 개인 정보 -->
        <div class="profile_right">
            <div class="profile_right_float">
                <div class="profile_right_left">
                    <!-- B : 사용자 이름 -->
                    <!-- B : 최대 글자 한글로 6글자, 영어로 10글자까지 제한! -->
                    <div class="name">{{user.nickname}}</div>
                </div>

                <div class="profile_right_right">
                    <button class="follow_button green" type="button">팔로우</button>
                </div>
            </div>
            <br><br><br><br>
            <div class="details_">
                <!-- B : 사용자 자기 소개 -->
                <div class="info" >{{user.introduction}} 
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <br>

    <!-- 카테고리 선택 버튼 -->
    <div class="category" >
        <div class="category right" style="width: 65%;">
            <!-- 게시물 내 카테고리 (혼밥, 혼술, 혼카페) -->
            <div class="category details"style="margin-top: 30px;">
                <input type='button' value='혼밥' class="btn" onclick='setInnerHTML1()' style="color: white;border: none;margin-right: 3px;background-color: transparent;" />
                <input type='button' value='혼술' class="btn" onclick='setInnerHTML2()' style="color: white;border: none;margin-right: 3px;background-color: transparent;"/>
                <input type='button' value='혼카페' class="btn" onclick='setInnerHTML3()' style="color: white;border: none;margin-right: 3px;background-color: transparent;"/>
                <input type='button' value='전체보기' class="btn" onclick='setInnerHTML4()' style="color: white;border: none;background-color: transparent;"/>
            </div>
        </div>
    </div>
  
<!-- B : 사진 넣기 -->
    <div id="category" >
        <!-- 기본으로 선택된 건 혼밥 카테고리 -->
        <br></br>
        <hr style="width: 1050px; text-align: center; margin-top: 0;">
        <div class="posts">
            <div class="post_row">
                {% for post in posts %}

                    <a href="{% url 'honbabdetail' post.id %}">
                        <img class="post green" src="{{ post.photo.url }}" alt="">
                    </a>
                {% endfor %}
                </div>
                </br>
            <div class="post_row">
                {% for post2 in posts2 %}

                <a href="{% url 'honbabdetail' post2.id %}">
                    <img class="post green" src="{{ post2.photo.url }}" alt="">
                </a>
            {% endfor %}
            </div>
        </div>
    </div>
</div>

<!-- <script src="/static/js/myprofile.js"></script> -->

{% endblock body %}
