:root {
    --mint: #cbfac4;
    --blue: #89dafb;
    --yellow: #ffe481;
    --pink: #f5c1ca;
}

* {
    font-family: "Noto Sans HK";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    /* identical to box height */

    letter-spacing: 0.5em;
}

header {
    display: flex;
    width: 100%;
    height: 50px;
    background-color: black;
    padding: 5px;
    position: fixed;
    top: 0;
}

a {
    text-decoration: none;
}

/* header-col1 */
.header-col1 {
    width: 33%;
    margin-left: 70px;
}

.header-col-img_wrap {
    display: flex;
}

.header-logo {
    width: 50px;
    height: 45px;
    margin: 0px 20px;
}

.header-title {
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40px;
    margin-top: 5px;
    margin-left: 10px;
}

.header-title span {
    font-size: 15px;
    margin-top: 0px;
}

/* header-col2 */
.header-col2 {
    display: flex;
    justify-content: center;
    width: 33%;
}

.header-col2 a {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    margin: 0px 30px;
    color: white;
}

.header-col2 a:first-child:hover {
    color: var(--mint);
}

.header-col2 a:nth-child(2):hover {
    color: var(--pink);
}

.header-col2 a:nth-child(3):hover {
    color: var(--blue);
}

.header-col2 a:last-child:hover {
    color: var(--yellow);
}

.header-col3 {
    justify-content: flex-end;
    display: flex;

    margin-right: 70px;

    width: 33%;
}

.header-col3 img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
    background-repeat: no-repeat;
}

#mypage {
    color: white;
    margin-left: 10px;
    margin-top: 3px;
    width: 40px;
    height: 40px;
    background-color: #b9b6b1;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}

#mypage i {
    position: relative;
    right: -5px;
}