
.top_title {
    margin-top: 120px;
    margin-left: 290px;
    font-size: 50px;
    font-weight: 700;
    color: var(--mint);
    margin-bottom: 0;
}

.content_wrap {
    display: flex;
    justify-content: center;
}

.content {
    width: 1055px;
    height: 814px;
    background-color: rgba(243, 252, 241, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    margin: 50px 228px 0 290px;
}

.content h1 {
    font-family: "Noto Sans HK";
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 22px;
    letter-spacing: 0.1em;

    color: #ffffff;
    margin: 43px 0 36px 33px;
    opacity: 0.33;
}

.howmany {
    width: 430px;
    height: 88px;
    box-sizing: border-box;

    border: 1px solid rgba(255, 255, 255, 0.5);
    display: block;
    margin: 0 0 0 26px;

    font-family: "Noto Sans HK";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;

    letter-spacing: 0.1em;
    padding: 15px 16px;

    align-items: center;
    margin: 0 0 62px 26px;
}

.textbox {
    padding: 5px 0;
    height: 60px;
    width: 100%;
    /* display:inline-block; */
}

.textbox button {
    background-color: rgba(243, 252, 241, 0.1);
    border: 1px solid white;
    color: white;
    display: flex;
    padding: 3px;
    cursor: pointer;
}

.textbox button:hover {
    background-color: lightgray;
    color: black;
}

.howmany img {
    width: 60px;
    height: 60px;
    float: left;
    margin-right: 10px;
}

.cal img {
    width: 60px;
    height: 60px;
    float: left;
}

.howmany p {
    color: #ffffff;
    float: left;
    margin-right: 0.4em;
}

.howmany button {
    float: right;
}

.category {
    padding: 0px 0 20px 20px;
    margin-left: 26px;
}

.category a {
    float: left;
    margin-right: 30px;
    font-family: "Noto Sans HK";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.1em;

    color: #ffffff;
}

hr {
    opacity: 0.8;
    border: 1px solid rgba(255, 255, 255, 0.7);
    margin: 0 26px;
}

.letter {
    width: 807px;
    height: 284px;

    border: 1px solid #ccf9c5;
    border-radius: 10px;
    text-align: center;
    padding: 62px;
    margin: 62px 62px;
}

.letter img {
    width: 109px;
    height: 88px;
}

.letter h4 {
    font-family: "Noto Sans HK";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 33px;

    text-align: center;
    letter-spacing: 0.1em;

    color: #ffffff;
}

.letter p {
    font-family: "Noto Sans HK";
    font-style: normal;
    font-weight: 350;
    font-size: 20px;
    line-height: 33px;

    text-align: center;
    letter-spacing: 0.1em;

    color: #ffffff;
}

.explain {
    margin-top: 25px;
    margin-bottom: 30px;
    padding-left: 26px;
}

.explain h3 {
    font-family: "Noto Sans HK";
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 22px;

    letter-spacing: 0.1em;

    color: #ffffff;
    float: left;
    margin-left: 17px;
}

.explain p {
    font-family: "Noto Sans HK";
    font-style: normal;
    font-weight: 350;
    font-size: 17px;
    line-height: 22px;

    letter-spacing: 0.1em;

    color: #ffffff;
    float: left;
    margin-left: 28px;
    margin-top: 15px;
}

/* 계산 부분 */

.money {
    width: 100%;
}

.row {
    width: 100%;
    padding: 30px 50px 30px 50px;
    margin-bottom: 30px;
    box-sizing: border-box;
    height: 60px;
}

.cal {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    padding-bottom: 8px;
    width: 451px;
    height: 60px;
}

.cal.l {
    float: left;
    width: 45%;
}

.cal.r {
    float: right;
    width: 45%;
}

.cal h4 {
    float: left;
    font-family: "Noto Sans HK";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;

    letter-spacing: 0.1em;

    color: #ffffff;

}

.cal button {
    float: right;
    margin-left: 213px;

    width: 88px;
    height: 30px;
    background-color: #ccf9c5;
    border: 0.5px solid white;
    border-radius: 5px;

    font-family: 'Noto Sans HK';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.1em;

    color: #000000;
    text-align: center;
    justify-content: center;
}

