<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- css -->
    <link rel="stylesheet" href="{% static './style.css' %}">
    <!-- <link rel="stylesheet" href="./css/screen/detail/newdetailpost.css"> -->

    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <link rel="stylesheet" href="/css/screen/sponsor/sponsor.css">
    <!-- favicon -->
    <link rel="icon" type="image/png" sizes="16x16" href="./img/favicon.png">
    
    <link rel="stylesheet" href="./style.css">

    <title>sponsor</title>
</head>

<body>
    <!-- header -->
    <header>
    
        <a class="header-col" href="index.html">
            <div class="header-col1">
                <img class="header-logo" src="img/logowhite.PNG">
                <div class="header-title">
                    <span>alone</span>
                    <span>along</span>
                </div>
    
            </div>
        </a>
    
        <div class="header-col2">
            <a href="index.html">혼밥</a>
            <a href="honsul.html">혼술</a>
            <a href="/html/home/honcafe.html">혼카페</a>
            <a href="honmap.html">혼맵</a>
        </div>
    
        <span class="header-col-bar">
    
            <img src="img/saessak.png" alt="">
            <img src="img/alarm.png" alt="">
            <a href="#">
                <div id="mypage"><i class="fa-solid fa-user fa-lg"></i></div>
            </a>
        </span>
    
    
    </header>
    <!-- 검은색 배경 네모 -->
    <div class="content">
        <h1>나의 이용 정보</h1>
        <div class="howmany">
            <img src="/img/saessak.png" alt="">
            <!-- !!백에 넘겨주고나서 html 수정한 부분 (1) div 클래스 textbox 추가 -->
            <div class="textbox">
                <p>보유 중인 새싹</p>
                <!-- B : 보유 중인 새싹 계산 -->
                <p style="color:rgba(204, 249, 197, 1)">10잎</p>
                <button>충전하기</button>
            </div>
        </div>

        <div class="category">
            <!-- !!백에 넘겨주고나서 html 수정한 부분 (2) a 태그 안에 연결 링크 추가, 
            style 태그 넣어서 글자색 변경 -->
            <a href="/sponsor_status.html" style="color: white;">후원현황</a>
            <a href="/sponsor.html" style="color: white;">충전하기</a><br>
        </div>
        <hr>

        <div class="explain">
            <h3>새싹이란?</h3>
            <p>혼밥, 혼술 등 혼자인 사람들을 위한 경험 기반 콘텐츠 제작 후원에 필요한 전용 결제 수단입니다.</p>
        </div><br><br>

        <!-- back에 준 후 수정 -->
        <div class="money">
            <div class="row">
                <div class="cal l">
                    <img src="/img/saessak.png" alt="">
                    <div class="textbox">
                        <h4>새싹 5잎</h4>
                        <button id="alertStart">500원</button>
                    </div>
                </div>
                <div class="cal r">
                    <img src="/img/saessak.png" alt="">
                    <div class="textbox">
                        <h4>새싹 200잎</h4>
                        <button id="alertStart1">2000원</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="cal l">
                    <img src="/img/saessak.png" alt="">
                    <div class="textbox">
                        <h4>새싹 10잎</h4>
                        <button id="alertStart2">1000원</button>
                    </div>
                </div>
                <div class="cal r">
                    <img src="/img/saessak.png" alt="">
                    <div class="textbox">
                        <h4>새싹 300잎</h4>
                        <button id="alertStart3">30000원</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="cal l">
                    <img src="/img/saessak.png" alt="">
                    <div class="textbox">
                        <h4>새싹 30잎</h4>
                        <button id="alertStart4">3000원</button>
                    </div>
                </div>
                <div class="cal r">
                    <img src="/img/saessak.png" alt="">
                    <div class="textbox">
                        <h4>새싹 500잎</h4>
                        <button id="alertStart5">50000원</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="cal l">
                    <img src="/img/saessak.png" alt="">
                    <div class="textbox">
                        <h4>새싹 50잎</h4>
                        <button id="alertStart6">5000원</button>
                    </div>
                </div>
                <div class="cal r">
                    <img src="/img/saessak.png" alt="">
                    <div class="textbox">
                        <h4>새싹 700잎</h4>
                        <button id="alertStart7">70000원</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="cal l">
                    <img src="/img/saessak.png" alt="">
                    <div class="textbox">
                        <h4>새싹 100잎</h4>
                        <button id="alertStart8">10000원</button>
                    </div>
                </div>
                <div class="cal r">
                    <img src="/img/saessak.png" alt="">
                    <div class="textbox">
                        <h4>새싹 1000잎</h4>
                        <button id="alertStart9">100000원</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        // 새싹 결제 불가능 팝업
        $().ready(function () {
                $("#alertStart").click(function () {
                    Swal.fire({
                        icon: 'warning',
                        title: '서비스 점검중입니다',
                        text: '신규 가입시 지급된 새싹을 이용해보세요!',
                    });
                });
                $("#alertStart1").click(function () {
                    Swal.fire({
                        icon: 'warning',
                        title: '서비스 점검중입니다',
                        text: '신규 가입시 지급된 새싹을 이용해보세요!',
                    });
                });
                $("#alertStart2").click(function () {
                    Swal.fire({
                        icon: 'warning',
                        title: '서비스 점검중입니다',
                        text: '신규 가입시 지급된 새싹을 이용해보세요!',
                    });
                });
                $("#alertStart3").click(function () {
                    Swal.fire({
                        icon: 'warning',
                        title: '서비스 점검중입니다',
                        text: '신규 가입시 지급된 새싹을 이용해보세요!',
                    });
                }); 
                $("#alertStart4").click(function () {
                    Swal.fire({
                        icon: 'warning',
                        title: '서비스 점검중입니다',
                        text: '신규 가입시 지급된 새싹을 이용해보세요!',
                    });
                });
                $("#alertStart5").click(function () {
                    Swal.fire({
                        icon: 'warning',
                        title: '서비스 점검중입니다',
                        text: '신규 가입시 지급된 새싹을 이용해보세요!',
                    });
                });
                $("#alertStart6").click(function () {
                    Swal.fire({
                        icon: 'warning',
                        title: '서비스 점검중입니다',
                        text: '신규 가입시 지급된 새싹을 이용해보세요!',
                    });
                });
                $("#alertStart7").click(function () {
                    Swal.fire({
                        icon: 'warning',
                        title: '서비스 점검중입니다',
                        text: '신규 가입시 지급된 새싹을 이용해보세요!',
                    });
                });     
                $("#alertStart8").click(function () {
                    Swal.fire({
                        icon: 'warning',
                        title: '서비스 점검중입니다',
                        text: '신규 가입시 지급된 새싹을 이용해보세요!',
                    });
                });
        });
        
    </script>

    <!-- icon link -->
    <script src="https://kit.fontawesome.com/73b35ca8d6.js" crossorigin="anonymous"></script>
</body>

</html>