{% extends 'board_main_base.html' %}

{% block title %}
detailpost
{% endblock %}

{% block css %}
<link rel="stylesheet" href="/static/css/screen/detail/newdetailpost.css">
{% endblock %}

{% block body %}


<h1 class="Postcategory">혼밥</h1>
<!-- detailPostbox -->
<!-- 전체 테두리 -->
<div class="scrollWrap">

    <!-- 좌측 박스를 상하로 정렬하기 위함 -->
    <div class="left_box_wrap">
        <!-- left content -->
        <!-- 왼쪽 박스 -->
        <div class="left_box">
            <div class="total_post_btn"><a href="{% url 'index' %}"><i class="fa-solid fa-chevron-left"></i>전체 게시물
                    보기</a>
            </div>

            <!-- B : 여기(h1)에 게시물 제목이 와야 함!!! -->
            <h1 class="postTitle">{{ blog_detail.title }}</h1>
            <!-- B : h5에 작성 날짜가 와야 함 -->
            <h5 class="postDate"> 작성 날짜 {{ blog_detail.date }} <i class="fa-regular fa-heart">99</i> <i
                    class="fa-regular fa-comment">12</i></h5>
            <!-- 하트버튼이랑 댓글창 여기 h5 옆에!! -->
            <!-- 하트 누르면 count js로 해야 함! -->

            <!-- B : detail_post_img의 src에 게시물 상세 이미지가 와야 함 -->
            {% if blog_detail.photo %}
            <img class="detail_post_img" src="{{ blog_detail.photo.url }}" alt="">
            {% endif %}
            <!-- B : p에 게시물 내용 와야 함 -->
            <p class="postContent">
                {{ blog_detail.body }}
            </p>


         



            <!-- 공감 & 댓글 버튼 -->

            <div class="btnWrap">
                <!-- 공감 버튼  -->
                <div class="heart_btn">
                    <i class="fa-regular fa-heart "></i>
                    <div>99</div>
                </div>


                <!-- 댓글 버튼  -->

                <div class="comment_Btn">
                    <i class="fa-solid fa-comment fa-2x"></i>

                    <div class="comment_Btn_num_Wrap">
                        <span>
                            12
                        </span>
                        <i id="comment_down" class="fa-solid fa-chevron-down "></i>
                    </div>


                </div>

            </div>


            <!-- comment 창 -->
            <div class="comment commentHidden">
                <!-- comment창 -->
                <!-- 수정버튼 -->
                <a class="changeComment" style="color: white;"
                    href="{% url 'honbabdetail_update' blog_detail.id %}">수정</a>
                <!-- 삭제버튼 -->
                <a class="removeComment" style="color: white;"
                    href="{% url 'honbabdetail_delete' blog_detail.id %}">삭제</a>
                <!-- 해커톤 당일 변경사항 1. 댓글에 닉네임도 보이도록(밑에껄로 바꾸기 껄끄러우면 그냥 버려도됌)-->
                <form class="commentForm" method="post" action="{% url 'create_comment' blog_detail.id %}">
                    {%csrf_token%}
                    {{comment_form}}
                    <!-- input이 제출 버튼임! -->
                    <input type="submit">
                </form>



                {% for comment in blog_detail.comment_set.all %}
                <p id="comment_Reply">{{comment}}</p>
                <br>
                {% endfor %}
            <!-- 댓글 바뀜 -> 사용자 이름도 뜨도록(프론트 상의 후 바꾸기 어려우면 버림)
            <form method = "POST" action="{% url 'create_comment' blog_detail.id %}">
            {% csrf_token %}
            <input type="text" name = "comment">
            <input type="submit" value="등록">
        </form>
        <hr>
        
        {% for comment in comment_all %}
        <p>{{comment.comment}}</p>
        <p> {{comment.comment_user.nickname}}</p>
        <hr>
        {% endfor %} -->

            </div>



            <!-- 댓글 버튼 관련 js -->
            <script>
                const commentBtn = document.getElementById("comment_down");
                const comment = document.querySelector(".comment")

                function toggle() {
                    commentBtn.classList.toggle("fa-chevron-down")


                    comment.classList.toggle("commentHidden");
                }





                commentBtn.addEventListener("click", toggle);
            </script>



        </div>


        <!-- B : 해당 게시물의 장소가 와야 함 -->
        <!-- B : detail_location_col 자식요소인 h4에 주소, h5에 운영시간-->
        <div class="detail_location">
            <div class="location_Wrap">
                <div class="locationIcon_wrap">
                    <i class="fa-solid fa-location-dot fa-2x"></i>
                </div>
                <span class="detail_location_col">
                    <h4>{{ blog_detail.location }}</h4>
                    <h5>9:00 ~ 22:00</h5><!-- 아직 지도랑 연결 안됌 -->
                </span>
            </div>

        </div>

    </div>


    <!-- scroll -->
    <!-- 오른쪽 박스 -->
    <div class="scroll">

        <!-- right content -->
        <div class="right_box">


            <div class="saessak_intro_wrap">
                <h1 class="saessak_intro">새싹러 소개</h1>
            </div>

            <!-- 가로 border -->
            <hr>



            <div class="user_profile">
                <div class="user_profile_img">
                    <!--해커톤 당일 변동 상항 - 사용자 사진(아래껄로) B : 사용자 이미지 나오게-->
                    <img src="/static/img/logo.png" alt="">
                    
                    <!-- 사진 넣기 이부분!!!!
                        {% if user.profilePhoto %}
                        <img src="{{user.profilePhoto.url}}" alt="">
                    {% endif %} -->

                </div>
                <div class="user_profile_col">
                    <div class="user_profile_name"> 사용자이름{{ user_author.nickname }}</div>
                    <!-- B : 사용자 이름 나오게-->
                    <button class="user_profile_follow">+팔로우</button>
                </div>
            </div>
            <!-- B : 사용자 짧은 소개글 -->
            <div class="user_profile_message">
                <!-- 자기소개 부분은 고정적인 크기여야 해서, div태그로 크기 정해줘! -->
                {{ user_author.introduction }}
            </div>

            <!-- support btn -->

            <div class="support_btn">
                <h2> 후원하기</h2>
            </div>

            <!-- 가로 border -->
            <hr>

            <h3 class="another_post_h3"> {{user_author.nickname}}님의 다른 게시물</h3>
            <!-- B : 해당 유저의 다른 게시글을 띄워야 함 -->
            {% for post in current_posts %}
            <!-- 3번 반복함!! -->
            <div class="another_post">
                <div class="another_post_col">
                    <span class="another_post_title"><label>게시글 제목 :</label><a
                            href="{% url 'honbabdetail' post.id %}">{{ post.title }}</a></span>
                    </br>

                </div>
                <div class="another_post_col">
                    <label>장소 :</label><span class="another_post_space">
                        {{ post.location }}
                    </span>
                </div>


            </div>
            {% endfor %}


            <!-- 가로 border -->
            <hr>


            <!-- 새싹 후원하기 -->


            <div class="sponsor">
                <h4 class="saessak_sponsor">새싹 후원하기</h4>

            </div>



            <div class="support_button_Wrap">
                <img src="/static/img/KakaoTalk_Photo_2022-08-18-06-00-55.png" alt="">
                <button class="first_support_box">
                    500원 +
                </button>
            </div>


            <div class="support_encourage">
                <p>
                    "자라나는 콘텐츠 새싹에게 새싹 후원으로 마음을 전해보세요"
                </p>
            </div>

            <!-- B : 후원금 계산 적용  -->
            <div class="detail_support_box">

                <div class="ohbaekone_support_box">
                    <img src="/static/img/saessak.png" alt="">
                    <div>500원 +</div>
                </div>


                <div class="sponsomoneyAdd">
                    <h4>추가 후원금 (선택) </h4>
                    <input id="moneyTextBox" type="number" value="0">



                </div>







                <div class="moneyBtnWrap">
                    <button id="thousandwon" onclick="buttonclick_add(1000);">+1천원</button>
                    <button id="fivethousandwon" onclick="buttonclick_add(5000);">+5천원</button>
                    <button id="millionwon" onclick="buttonclick_add(10000);">+1만원</button>
                </div>

                <button id="spon_btn" onclick="buttonclick_displaymoney();">후원하기</button>



                <script>
                    function buttonclick_add(money) {
                        var element = document.getElementById("moneyTextBox");
                        element.value = Number(element.value) + Number(money);
                    }
                </script>
                <script>
                    function buttonclick_displaymoney() {
                        document.getElemenetById("money").innerText = 500 + Number(document.getElementById(
                            "moneyTextBox").value);

                    }
                </script>
                </form>
            </div>

            <!-- 후원 팝업 관련 -->
            <!-- 후원하기 버튼 클릭하면 팝업창 -->
            <!-- js로 연결 해야 함!!! -->

            <!-- 가로 border -->
            <hr>

            <!-- 광고,이벤트 이미지 랜덤재생 -->
            <div id="adBox">


            </div>

        </div>

    </div>

</div>





<!-- map pop up -->



<!-- spon pop up -->

<div id="popup" class="hidden">
    <div class="content">
        <!-- B : 보유새싹 계산 -->
        <div class="how_much">
            내 보유새싹 : {{user.cash}}잎
        </div><br>
        <form action="{% url "donate" blog_detail.id %}" method="POST">
            {% csrf_token %}
            <div class="details">
                <!-- B : 사용한 새싹 계산 -->
                <div class="used">새싹 <input type="hidden" name="money" id="money"><span id="money_display"></span>잎을
                    사용하여</div>
                <br>
                <!-- B : 게시글 제목 가져오기 -->
                <div class="title">{{blog_detail.title}}</div><br>
                <div class="used">콘텐츠를 후원합니다.</div><br>
            </div>
            <div class="Btn">
                <button class="cancelBtn">취소</button>
                <button class="confrimBtn" type=submit>확인</button>
            </div>

        </form>
    </div>
</div>

<!-- js -->

<script>
    // random color play

    const adBox = document.getElementById("adBox")

    const colors = [
        "#ef5777",
        "#575fcf",
        "#4bcffa",
        "#34e7e4",
        "#0be881",
        "#f53b57",
        "#3c40c6",
        "#0fbcf9",
        "#00d8d6",
        "#05c46b",
        "#ffc048",
        "#ffdd59",
        "#ff5e57",
        "#d2dae2",
        "#485460",
        "#ffa801",
        "#ffd32a",
        "#ff3f34"
    ];

    setInterval(() => {
        const randomColor = colors[Math.floor(Math.random() * colors.length)];
        adBox.style.background = `${randomColor}`;
    }, 2000);
</script>



{% endblock %}