/* components */
@import url("./components/reset.css");
@import url("./components/variables.css");
@import url("./components/header.css");




*{
    font-family: 'Edu SA Beginner', cursive;
    font-family: 'Edu VIC WA NT Beginner', cursive;
    font-family: 'Jua', sans-serif;

}



body {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

input{
    all: unset;
}

button{
    all: unset;
}